@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pridi';
  src: url('../public/assets/fonts/Pridi-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url('../public/assets/fonts/Pridi-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url('../public/assets/fonts/Pridi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url('../public/assets/fonts/Pridi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url('../public/assets/fonts/Pridi-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pridi';
  src: url('../public/assets/fonts/Pridi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: 'Pridi', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  @apply overflow-y-scroll;
}

/* Personaliza la barra de desplazamiento para todo el documento */
::-webkit-scrollbar {
  @apply w-2.5 h-2.5
}

/* Personaliza el track (la parte "base" sobre la cual se desplaza el thumb) de la barra de desplazamiento */
::-webkit-scrollbar-track {
  @apply bg-gray-300 /* Color de fondo del track */
}

/* Personaliza el thumb (la parte que se desplaza) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-lg
}

/* Personaliza el estado hover del thumb de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600
}

